@import url('https://fonts.googleapis.com/css2?family=Fragment+Mono&family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  color: #ffffff;
}

body {
  background: #151f30;
  font-family: 'Open Sans', sans-serif;
}

#run-btn {
  width: 20px;
  background-color: royalblue;
  color: white;
  border-radius: 3px;
  padding: 7px 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: medium;
  font-family: 'Fragment-Mono', Monospace;
}

#run-btn:active {
  background: dodgerblue;
}

#tab {
  width: 100%;
  display: flex;
  text-align: center;
  padding: 10px;
}

#html {
  flex: 3.3;
  background: none;
  color: white;
  padding: 5px 10px;
  border-bottom: 1.5px solid royalblue;
}

#html:hover {
  background: rgba(100, 149, 237, 0.12941176470588237);
}

#css {
  flex: 3.3;
  background: none;
  color: white;
  padding: 5px 10px;
  border-bottom: 1.5px solid royalblue;
}

#css:hover {
  background: rgba(100, 149, 237, 0.12941176470588237);
}

#js {
  flex: 3.3;
  background: none;
  color: white;
  padding: 5px 10px;
  border-bottom: 1.5px solid royalblue;
}

#js:hover {
  background: rgba(100, 149, 237, 0.12941176470588237);
}


#editor {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100vw;
}

textarea {
  font-family: 'Fragment Mono', Monospace;
  border: none;
}

#html-code,
#css-code,
#js-code {
  background: #233045;
  color: white;
  height: 700px;
  padding: 7px 0px 0px 5px;
  margin: 5px 6px;
  resize: none;
  height: 95vh;
  font-size: 14px;
}


#html-code:focus {
  outline: none;
}

#css-code:focus {
  outline: none;
}

#js-code:focus {
  outline: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20px;
  padding: 15px 5px 5px 5px;
}

nav header {
  display: flex;
  padding: 10px;
  font-size: 19px;
  font-family: "Fragment-Mono", Monospace;
  color: cornflowerblue;
  font-weight: bold;
}



#result {
  width: 100vw;
}



#output {
  text-align: center;
  width: 100%;
  border: none;
  outline: none;
  background: white;
  color: black;
  height: 100vh;
  margin: 8px;
}




