@import url('https://fonts.googleapis.com/css2?family=Fragment+Mono&family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  color: #ffffff;
}

body {
  background: #151f30;
  font-family: 'Open Sans', sans-serif;
}

#tab {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

#html {
  background: #7E81FF;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

#css {
  background: #7E81FF;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

#js {
  background: #7E81FF;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}


#html,
#css,
#js:active {
  transform: scale(1.05);
}


#editor {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100vw;
}

textarea {
  font-family: 'Fragment Mono', Monospace;
}

#html-code,
#css-code,
#js-code {
  background: #151f35;
  color: white;
  height: 700px;
  padding: 0px 0px 0px 5px;
  margin: 5px 6px;
  resize: none;
  height: 95vh;
  font-size: 14px;
}


#html-code:focus {
  outline: none;
}

#css-code:focus {
  outline: none;
}

#js-code:focus {
  outline: none;
}

nav header {
  padding: 10px;
  font-size: 19px;
  font-family: "Fragment-Mono", Monospace;
  text-align: center;
}

#result {
  width: 100vw;
}



#output {
  text-align: center;
  width: 100%;
  border: none;
  outline: none;
  background: white;
  color: black;
  height: 100vh;
  margin: 8px;
}




